<div class="footer">
    <div class="m1000">
        <div class="f_top">
            <div class="f_site">
                <p class="f_logo">
                    <img src="../../../../thinkphp/Public/home/img/top_logo.png"></p>
                <p class="f_icp">ICP备16014093号-1&nbsp;&nbsp;Copyright © 2010-2014&nbsp;&nbsp;考试在线网络科技有限公司&nbsp;&nbsp;版权所有</p>
            </div>
            <div class="f_tright">
                <p class="f_weixin">
                    <img src="../../../../thinkphp/Public/home/img/weixin.jpg"></p>
                <ul class="f_trul">
                    <li class="f_tspan">网站声明</li>
                    <li><a href="">版权声明</a></li>
                    <li><a href="">免责申明</a></li>
                    <li><a href="">安全提醒</a></li>
                    <li><a href="">产品简介</a></li>
                </ul>
                <ul class="f_trul">
                    <li class="f_tspan">关于我们</li>
                    <li><a href="">合作联系</a></li>
                    <li><a href="">人才招聘</a></li>
                    <li><a href="">教师合作</a></li>
                    <li><a href="">模拟考场</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>