<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线考试</title>
    <link rel="stylesheet" type="text/css" href="../../../../thinkphp/Public/home/css/mokaoba.css">
    <link rel="stylesheet" type="text/css" href="../../../../thinkphp/Public/home/css/daohanglan.css">
    <script type="text/javascript" src="../../../../thinkphp/Public/home/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="../../../../thinkphp/Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <!--header头 开始-->
    <include file="./Application/Home/View/index/header.html" />
    <!--header头 结束-->

    <!--主体内容 开始-->
    <div class="mainContent m1"> <!--主体内容-->
        <div class="colum0 colum1" style="width:962px">
            <div class="ck border" style="border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(239, 239, 239); border-width: 0px 2px 1px; border-style: solid; padding-bottom: 11px; padding-top: 14px;background-color:#1dc5a3">
                <div style="padding:0px 0px;padding-bottom:0px;">
                    <div style="padding:0px 0px;padding-bottom:0px;float:right"><a href="/thinkphp/home/list/index">更多...</a></div>
                    <h2><span><strong>初中测试</strong></span></h2>
                </div>
                <div>
                    <foreach name="test" item="vo">
                    <p>[基础测试]<a href="/thinkphp/home/detail/index?id={$vo['id']}">{$vo['sname']}</a></p>
                    </foreach>
                </div>
            </div>
        </div>
        <div class="colum0 colum1" style="width:962px">
            <div class="ck border" style="border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(239, 239, 239); border-width: 0px 2px 1px; border-style: solid; padding-bottom: 11px; padding-top: 14px;background-color:#1dc5a3">
                <div style="padding:0px 0px;padding-bottom:0px">
                    <div style="padding:0px 0px;padding-bottom:0px;float:right"><a href="/thinkphp/home/list/index">更多...</a></div>
                    <h2><span><strong>高中测试</strong></span></h2>
                </div>
                <div>
                    <foreach name="test" item="vo">
                        <p>[基础测试]<a href="/thinkphp/home/detail/index?id={$vo['id']}">{$vo['sname']}</a></p>
                    </foreach>
                </div>
            </div>
        </div>
        <div class="colum0 colum1" style="width:962px">
            <div class="ck border" style="border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(239, 239, 239); border-width: 0px 2px 1px; border-style: solid; padding-bottom: 11px; padding-top: 14px;background-color:#1dc5a3">
                <div style="padding:0px 0px;padding-bottom:0px">
                    <div style="padding:0px 0px;padding-bottom:0px;float:right"><a href="/thinkphp/home/list/index">更多...</a></div>
                    <h2><span><strong>大学测试</strong></span></h2>
                </div>
                <div>
                    <foreach name="test" item="vo">
                        <p>[基础测试]<a href="/thinkphp/home/detail/index?id={$vo['id']}">{$vo['sname']}</a></p>
                    </foreach>
                </div>
            </div>
        </div>
    </div>
    <!--主体内容 结束-->

    <!--footer尾部 开始-->
    <include file="./Application/Home/View/index/footer.html" />
    <!--footer尾部 结束-->
</body>
</html>