/*导航栏样式 开始*/
*{margin:0; padding:0; list-style:none; }
body{ background:#fff; font:normal 12px/22px 宋体;  }
img{ border:0;  }
a{ text-decoration:none; color:#333;  }
a:hover{ color:#FF8400;  }
.js{width:90%; margin:10px auto 0 auto; }
.js p{ padding:5px 0; font-weight:bold; overflow:hidden;  }
.js p span{ float:right; }
.js p span a{ color:#f00; text-decoration:underline;   }
.js textarea{ height:190px;  width:98%; padding:5px; border:1px solid #ccc; border-top:2px solid #aaa;  border-left:2px solid #aaa;  }

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.navBar{  position:relative; z-index:1; padding-left:10px;   height:40px; line-height:40px; background:url(../img/line.gif) repeat-x 0 bottom #fff; color:#333;   }
.nav{ position:relative; width:1000px; margin:0 auto;  font-family:"Microsoft YaHei",SimSun,SimHei; font-size:18px; }
.nav a{ color:#333;  }
.nav h3{ font-size:100%; font-weight:normal;   }
.nav .m{ float:left;  position:relative; z-index:1; }
.nav .s{ float:left; width:3px; text-align:center; color:#D4D4D4; font-size:12px; }
.nav h3 a{ display:block; width:140px; text-align:center;   font-weight:bold;  }
.nav .sub{ display:none; /*默认隐藏*/  position:absolute; left:-3px; top:60px; z-index:1; width:128px; border:1px solid #E6E4E3; border-top:0;  background:#fff; }
.nav .sub li{ text-align:center; padding:0 8px; margin-bottom:-1px; background:#229922  }
.nav .sub li a{ display:block;  border-bottom:1px solid #E6E4E3; padding:8px 0; height:28px; line-height:28px; color:#000000;   }
.nav .sub li a:hover{ color:#FE7700;   }
.nav .block{ height:3px; width:130px; background:#FE7700; position:absolute; left:0; top:57px; overflow:hidden;  }