<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线考试试卷详情</title>
    <link rel="stylesheet" type="text/css" href="../../../../thinkphp/Public/home/css/mokaoba.css">
    <link rel="stylesheet" type="text/css" href="../../../../thinkphp/Public/home/css/daohanglan.css">
    <!--<link rel="stylesheet" type="text/css" href="../../../../thinkphp/Public/home/css/sy.css">-->
    <script type="text/javascript" src="../../../../thinkphp/Public/home/js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="../../../../thinkphp/Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--header头 开始-->
<include file="./Application/Home/View/index/header1.html" />
<!--header头 结束-->

<!--主体内容 开始-->
<div class="lc">
    <div><span class="n1">1.选择试题</span><span class="n2">2.注册/登陆</span><span class="n3">3.开始答题</span><span class="n4">4.提交试卷</span><span class="n5">5.查看成绩</span><span class="n6">6.答案解析</span></div>
</div>
<div class="bread">
    <span>您的位置：</span>
    <a title="在线考试中心" href="/">在线考试中心</a>&nbsp;&gt;
    <a title="医学频道试卷列表" href="">医学</a>&nbsp;&gt;
    <a title="全国卫生专业技术资格考试(中初级)考试试卷列表" href="">全国卫生专业技术资格考试(中初级)</a>&nbsp;&gt;
    <a title="放射医学技师考试试卷列表" href="">放射医学技师</a>&nbsp;&gt;
    <a title="专业实践能力考试试卷列表" href="">专业实践能力</a>&nbsp;&gt; 确认进入考试
</div>
<div class="mainContent m3">
    <div class="m_left">
        <div class="testTitle">{$test['sname']}</div> <!--试卷题目-->
        <div class="testInfo">
            <div class="veiw" id="testContent">
                <div class="ico2">
                    试卷预览
                </div>
                <foreach name="ti" item="vo">
                <div class="test1">
                    <div class="num1">第&nbsp;<strong>1</strong>&nbsp;题：<strong>判断题</strong>: <br></div>
                    <div class="in"><p></p>
                        <p>{$vo['title']}</p>
                        <p></p>
                    </div>
                    <div class="dzjs">
                        <b>答案解析：</b>
                        <a target="_blank" href=""><u>点击查看答案解析</u></a>
                    </div>
                </div>
                </foreach>
            </div>
            <!--点击进入考试 S-->
            <a href="/thinkphp/home/test/index?id={$test['id']}" rel="nofollow" class="testbtn testbtn0"></a>
            <!--点击进入考试 E-->
        </div>
    </div>
</div>

<!--主体内容 结束-->

<hr width="100%" color="red">

<!--footer尾部 开始-->
<include file="./Application/Home/View/index/footer.html" />
<!--footer尾部 结束-->
</body>
</html>